.card.show {
  .card {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  img.cover {
    float: right;
  }

  .info {
    margin-right: 210px;
    padding-top: 1rem;
  }
}
