.card.show {
  .card {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  img.cover {
    float: right;
  }

  .info {
    margin-right: 210px;
    padding-top: 1rem;
  }

  .other {
    margin-top: 4rem;
    color: #999;
    font-size: .875rem;

    div {
      margin-bottom: .2rem;
    }

    span {
      margin-left: .6rem;
    }
  }
}
