.fact.form {
  width: 32rem;
  max-width: 98%;
  margin: 0 auto;
  margin-top: 6rem;

  .desc {
    height: 10rem;
  }
}

.fact.show {
  width: 36rem;
  max-width: 98%;
  margin: 0 auto;

  .action {
    text-align: center;
    span {
      padding: 0 3rem;
    }
  }

  .prev {
    color: #363636;
    font-size: 3rem;
  }

  .next {
    color: #363636;
    font-size: 3rem;
  }
}
