.fact.form {
  width: 32rem;
  max-width: 98%;
  margin: 0 auto;
  margin-top: 6rem;

  .desc {
    height: 10rem;
  }

  .attachments {
    img {
      margin-right: .3rem;
    }
  }
}

.fact.show {
  width: 36rem;
  max-width: 92%;
  margin: 0 auto;
  padding-top: 3rem;

  .title {
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .num {
    margin-bottom: 2rem;
    font-size: 3.2rem;

    .symbol {
      font-size: 1.6rem;
      margin-right: .3rem;
    }
  }

  .images {
    margin-top: .5rem;
    img {
      margin-right: .3rem;
    }
  }

  .other {
    font-size: .875rem;
    span {
      margin-left: .3rem;
    }
  }

  .tags {
    margin-top: 1.6rem;
  }

  .action {
    text-align: center;
    margin-top: 3rem;
    span {
      padding: 0 3rem;
    }
  }

  .prev {
    color: #363636;
    font-size: 3.6rem;
    font-weight: 100;

    &.disable {
      color: gray;
    }
  }

  .next {
    color: #363636;
    font-size: 3.6rem;
    font-weight: 100;

    &.disable {
      color: gray;
    }
  }

  .image-modal {
    position: fixed;
    z-index: 100;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(100,100,100, 0.5);

    .image-container {
      text-align: center;
    }

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  .close {
    text-align: right;
    padding: 1rem 0;

    a {
      margin-right: 2rem;
      font-weight: 100;
      font-size: 1.6rem;
      color: #363636;
    }
  }
}
