* {
  margin: 0;
  padding: 0;
}

body, html {
  height:100%;
}

body {
  font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  color: #363636;
  box-sizing: border-box;
  padding-bottom: 2rem;
}

h1 {
  margin: 0;
}

.hiden {
  display: none;
}

.fa {
  -webkit-text-stroke: 4px white;
}
