* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
  background: #f0f0f0;
}

body {
  min-height:100%;
  font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  color: #363636;
  box-sizing: border-box;
  padding-bottom: 2rem;
  position: relative;
}

h1 {
  margin: 0;
}

.container {
  padding-bottom: 3rem;
}

.hiden {
  display: none;
}

.fa {
  -webkit-text-stroke: 4px white;
}

a {
  text-decoration: none;
}

.pure-form {
  .pure-checkbox {
    display: inline-block;
    margin: 0 .5rem 0 0;
  }

  .pure-radio {
    display: inline-block;
    margin-right: .5rem;
  }
}
