.home.page {
  width: 1000px;
  max-width: 92%;
  margin: 0 auto;

  .games {
    .item {
      box-sizing: border-box;
      padding: .6rem;
      margin-bottom: .3rem
    }

    .game {
      background: white;
      border-radius: .3rem .3rem 0 0;
    }

    .cover {
      width: 100%;
      border-radius: .3rem .3rem 0 0;
    }

    a.name {
      display: block;
      font-size: 1.2rem;
      color: #585858;
      padding: .6rem;
    }
  }
}

@media (max-width: 34em) {
  .home.page {
    .games {
      .item {
        padding: 0;
      }
    }
  }
}
