@mixin position() {
  width: 18rem;
  max-width: 98%;
  margin: 0 auto;
  padding-top: 3rem;
}

.account {
  &.sign_in {
    @include position();
  }

  &.sign_up {
    @include position();
  }

  label {
    margin-top: .8em;
    color: #73727b;
  }

  input.field {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d8dfdd;
    padding: 0.5em 0;
  }

  .register-button {
    margin-top: .8em;
    font-size: .825rem;

    input {
      background-color: #94c368;
    }
  }

  .others {
    margin-top: 1.5rem;
    font-size: .825rem;
    text-align: center;
  }
}
