.page.show {
  width: 720px;
  max-width: 92%;
  margin: 0 auto;

  .title {
    font-weight: 100;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.page.form {
  width: 36rem;
  max-width: 92%;
  margin: 3rem auto 0;
}

.key.action {
  width: 7rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .prev {
    color: rgba(54,54,54,0.8);
    font-size: 2.6rem;
    font-weight: 100;
    display: inline-block;
    transform: rotateY(180deg);

    &.disable {
      color: rgba(128,128,128,0.8);
    }
  }

  .next {
    color: rgba(54,54,54,0.8);
    font-size: 2.6rem;
    font-weight: 100;
    float: right;

    &.disable {
      color: rgba(128,128,128,0.8);
    }
  }
}

.header {
  padding: 2.5rem 0;
  text-align: center;

  a {
    font-size: 1.6rem;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    color: #363636;
  }
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: .5rem;
  font-size: 0.8rem;
  font-color: 100;
  color: #ccc;
  box-sizing: border-box;

  .content {
    padding: 0 3rem;
  }

  a {
    color: #ccc;
    &:hover {
      text-decoration: underline;
    }
  }

  .about {
    margin-left: .3rem;
  }
}

.error.page {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -115px;

  h1 {
    font-weight: normal;
    font-size: 3.8rem;
  }

  .content {
    margin-top: 2rem;
    font-size: .875rem;

    a {
      color: #363636;
    }
  }
}

.long-article {
  .content-image {
    max-width: 45%;
    padding: 0 2%;
  }
}

.errors.error_messages {
  font-size: .825rem;
  padding: .5rem 0;
  color: red;

  ul {
    li {
      list-style: none;
    }
  }
}

@media (max-width: 34em) {
  .footer {
    .content {
      padding: 0;
      max-width: 92%;
      margin: 0 auto;
    }
  }

  .key.action {
    width: 12rem;
    position: inherit;
    margin: 3rem auto 0;
  }
}
