.footer {
  width: 100%;
  position: absolute;
  bottom: .5rem;
  font-size: 0.75rem;
  color: #ccc;
  box-sizing: border-box;

  .content {
    padding: 0 3rem;
  }

  a {
    color: #ccc;
    margin-left: 1rem;
  }
}

.error.page {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -115px;

  h1 {
    font-weight: normal;
    font-size: 3.8rem;
  }

  .content {
    margin-top: 2rem;
    font-size: .875rem;

    a {
      color: #363636;
    }
  }
}

@media (max-width: 34em) {
  .footer {
    .content {
      padding: 0;
      max-width: 92%;
      margin: 0 auto;
    }
  }
}
