doctype html
html(lang='zh')
  head
    title='恐怖时钟 - 想要去改变一点点事情'
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='description', content='生活方式, Life Style')
    meta(name='keywords', content='生活方式, Life Style')
    script(src='/javascripts/index.js')
  body
    div#js-container
      block content
