doctype html
html(lang='zh')
  head
    title='冷知识 - 游戏小技巧'
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='description', content='游戏小技巧,炉石小技巧,炉石冷知识,冷知识')
    meta(name='keywords', content='游戏,炉石,冷知识')
    script(src='/javascripts/app.js')
  body
    div#js-container
      block content
